---
---
// Backgrounds
$bg-navy: #001f3f;
$bg-blue: #0074d9;
$bg-aqua: #7fdbff;
$bg-teal: #39cccc;
$bg-olive: #3d9970;
$bg-green: #2ecc40;
$bg-lime: #01ff70;
$bg-yellow: #ffdc00;
$bg-orange: #ff851b;
$bg-red: #ff4136;
$bg-fuchsia: #f012be;
$bg-purple: #b10dc9;
$bg-maroon: #85144b;
$bg-white: #fff;
$bg-gray: #aaa;
$bg-silver: #ddd;
$bg-black: #111;

// colors
$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;

$filmhub-blue: #1a237e;
$filmhub-grey: #525254;
$filmhub-white: #f8f8f8;

@import 'bootstrap';

body {
  background-color: $filmhub-white;
  color: $navy;
  font-size: 16px;
  line-height: 1.5em;
  padding-bottom: 0;
}

.body {
  background-color: $white;
}
