<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Austin Perez">
<meta name="theme-color" content="#ffffff">

<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="development, developer, technical engineer, software developer, google developer, front-end developer, web, software, engineer, develop, design, devops engineer" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Austin Perez">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="http://austinp.com/article-banner.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Austin Perez" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://austinp.com/" />
<meta property="og:image" content="http://austinp.com/og-banner.jpg" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="Austin" />
<meta property="article:published_time" content="2018-01-08T01:00:00-08:00" />
<meta property="article:modified_time" content="2018-01-08T01:00:00-08:00" />
<meta property="article:section" content="Technology" />
<meta property="article:tag" content="development, developer, technical engineer, software developer, google developer, front-end developer, web, software, engineer, develop, design, devops engineer" />