<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Austin Perez">
  <title>Austin Perez</title>
  {% include _css.html %}

</head>

<body data-spy="scroll" data-offset="51">
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center wrap">
				<img src="../assets/images/profile_img.jpg" class="img-responsive img-circle center-block" alt="Responsive image">
				<h1 class="name text-blue">Austin Perez</h1>
				<span class="tagline">Full-Stack Web Developer</span>
				<div class="container-fluid">
					<address>
						<div class="col-sm-4 contact">
							<span class="address">
								<span class="glyphicon glyphicon-map-marker"></span>
								<span class="locality"> Temecula</span>,
		            <abbr class="region">CA</abbr>
		            <span class="postal-code">92592</span>
							</span>
						</div>
						<div class="col-sm-4 contact">
							<span class="telephone">
								<span class="glyphicon glyphicon-phone"></span>
								<span class="text"> +1.424.291.2313</span>
							</span>
						</div>
						<div class="col-sm-4 contact">
							<a href="mailto:austin@austinp.com">
								<span class="email">
									<span class="glyphicon glyphicon-envelope"></span>
									<span class="text"> austin@austinp.com</span>
								</span>
							</a>
						</div>
					</address>
				</div>
			  <p class="summary">
			    Dedicated Full-Stack Software Engineer experienced with all facets of the software development lifecycle including analysis, design, development, verification and support.
			  </p>
			  <p class="lead">
			    View my work:
			  </p>
			  <p>
			  	<a href="http://filmhub.com" class="btn btn-default" target="_blank">Filmhub</a> 
			  	&nbsp;
			  	<a href="https://kpinsonstairs.com" class="btn btn-default" target="_blank">K Pinson Stairs</a>
			  </p>
			  <div class="container-fluid">
					<div class="col-sm-4 social">
						<span>
							<a class="facebook" href="https://www.fb.com/austin4perezident" target="_blank">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<span class="text"> fb.com/austin4perezident</span>
							</a>
						</span>
					</div>
					<div class="col-sm-4 social">
						<span>
							<a class="linkedin" href="https://www.linkedin.com/in/austin4perezident/" target="_blank">
								<i class="fa fa-linkedin-square" aria-hidden="true"></i>
								<span class="text"> /in/austin4perezident</span>
							</a>
						</span>
					</div>
					<div class="col-sm-4 social">
						<span>
							<a class="github" href="https://github.com/austin4perezident" target="_blank">
								<i class="fa fa-github" aria-hidden="true"></i>
								<span class="text"> austin4perezident</span>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% include _footer.html %}
	</div>
<canvas id="background-image"></canvas>
{% include _js.html %}
</body>
</html>