<!DOCTYPE html>
<html lang="en">
<head>
  {% include _meta.html %}
  <title>Austin Perez</title>
  {% include _css.html %}

  <!-- Google Tag Manager-->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PSX2ZHC');</script>

  <!-- Google Analytics Tracking-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112276509-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-112276509-1');
	</script>
</head>

<body data-spy="scroll" data-offset="51">
	<script type="in/Login" >
</script>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSX2ZHC"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center wrap">
				<img src="../assets/images/profile_img.jpg" class="img-responsive img-circle center-block img-profile" alt="Responsive image">
				<h1 class="name text-blue">Austin Perez</h1>
				<div class="container-fluid">
					<address>
						<div class="col-sm-4 contact">
							<span class="address">
								<span class="glyphicon glyphicon-map-marker"></span>
								<span class="locality"> Temecula</span>,
		            <abbr class="region">CA</abbr>
		            <span class="postal-code">92592</span>
							</span>
						</div>
						<div class="col-sm-4 contact">
							<span class="telephone">
								<span class="glyphicon glyphicon-phone"></span>
								<span class="text"> +1.424.291.2313</span>
							</span>
						</div>
						<div class="col-sm-4 contact">
							<a href="mailto:austin@austinp.com">
								<span class="email">
									<span class="glyphicon glyphicon-envelope"></span>
									<span class="text"> austin@austinp.com</span>
								</span>
							</a>
						</div>
					</address>
				</div>
			  <p class="summary">
			    A detail-oriented professional that is obsessed with data, driven by results, and consumed by metrics. I have over 5 years experience and a deep love for web development, product management, digital marketing and analytics.
			  </p>
			  <p class="lead">
			    Experience:
			  </p>
			  <p class="logos">
			  	<a href="https://www.opto22.com" target="_blank">
			  		<span class="icon-opto22"></span>
			  	</a>
			  	&nbsp;
			  	<a href="http://filmhub.com" target="_blank">
			  		<span class="icon-filmhub"></span>
			  	</a> 
			  	&nbsp;
			  	<a href="https://www.nfx.com" target="_blank">
			  		<span class="icon-nfx"></span>
			  	</a>
			  	&nbsp;
			  	<a href="https://kpinsonstairs.com" target="_blank">
			  		<span class="icon-kpinsonstairs"></span>
			  	</a>
			  </p>
			  <div class="container-fluid">
					<div class="col-sm-4 social">
						<span>
							<a class="facebook" href="https://www.fb.com/austin4perezident" target="_blank">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<span class="text"> fb.com/austin4perezident</span>
							</a>
						</span>
					</div>
					<div class="col-sm-4 social">
						<span>
							<a class="linkedin" href="https://www.linkedin.com/in/austin4perezident/" target="_blank">
								<i class="fa fa-linkedin-square" aria-hidden="true"></i>
								<span class="text"> /in/austin4perezident</span>
							</a>
						</span>
					</div>
					<div class="col-sm-4 social">
						<span>
							<a class="github" href="https://github.com/austin4perezident" target="_blank">
								<i class="fa fa-github" aria-hidden="true"></i>
								<span class="text"> austin4perezident</span>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div style="background-color: white; margin-top: 50px;">
			<form id="foo">
			    <label for="bar">Name</label>
			    <input id="bar" name="name" type="text" value="" />

			    <label for="bar">Number of Guests</label>
			    <input id="bar" name="guestNumber" type="text" value="" />

			    <label for="bar">Comments</label>
			    <input id="bar" name="comment" type="text" value="" />

			    <input type="submit" value="Send" />
			</form>
		</div>

		{% include _footer.html %}
	</div>
<canvas id="background-image"></canvas>
{% include _js.html %}

<script>

	// Variable to hold request
var request;

// Bind to the submit event of our form
$("#foo").submit(function(event){

    // Prevent default posting of form - put here to work in case of errors
    event.preventDefault();

    // Abort any pending request
    if (request) {
        request.abort();
    }
    // setup some local variables
    var $form = $(this);

    // Let's select and cache all the fields
    var $inputs = $form.find("input, select, button, textarea");

    // Serialize the data in the form
    var serializedData = $form.serialize();

    // Let's disable the inputs for the duration of the Ajax request.
    // Note: we disable elements AFTER the form data has been serialized.
    // Disabled form elements will not be serialized.
    $inputs.prop("disabled", true);

    // Fire off the request to /form.php
    request = $.ajax({
        url: "https://script.google.com/macros/s/AKfycbwsvL22-vP8qMUCSOGSSpB_PNqcvaIncgel-lFb7uOp9i9YjcsO/exec",
        type: "post",
        data: serializedData
    });

    // Callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR){
        // Log a message to the console
        console.log("Hooray, it worked!");
    });

    // Callback handler that will be called on failure
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Log the error to the console
        console.error(
            "The following error occurred: "+
            textStatus, errorThrown
        );
    });

    // Callback handler that will be called regardless
    // if the request failed or succeeded
    request.always(function () {
        // Reenable the inputs
        $inputs.prop("disabled", false);
    });

});

</script>



	<!-- <script>
	var trainingURL = "https://training.opto22.com"

	var request_series = $.get(trainingURL);

	request_series.success(function(response) {
		var seriesURL = [];
		var courseURL = [];

		var results = $("<body>").html(response).find("a.coursebox-container.course.sj-course-series")

		for (i=0;i <results.length; i++) {
	  	if (results[i] != null || results[i] != undefined || results[i] != "") {
	  		seriesURL.push(results[i].getAttribute("href"));
	  	}
	  };

	  var coursePages = [];

	 //  for (i=0;i < seriesURL.length; i++) {
	 //  	courseURL.push($.get(trainingURL+seriesURL[i]));
		// }
		$.each(seriesURL, function(index, url){
		    coursePages.push(
		        $.get(trainingURL + url)
		    );
		});
		// Can't pass a literal array, so use apply.
		var courseURL = [];
		for (i = 0; i < coursePages.length; i++) {
			$.when.apply($, coursePages[i]).then(function(data){
				debugger;
	    	var courses = $("<body>").html(data).find("a.coursebox-container")
	    	for (j=0; j < courses.length; j++) {
	  			if (courses[j] != null || courses[j] != undefined || courses[j] != "") {
	  				courseURL.push(courses[j].getAttribute("href"));
	  			}
	    	}
			});
		}
		// Need to Test below:
			    for (var k = 0; k < courseURL.length; k++) {
						var url = courseURL[k].match(/([^\/]*)\/*$/)[1]
						var urlparams = window.location.href.match(/([^\/]*)\/*$/)[1]
					    if (url == urlparams) {
					    	seriesURL.push(courseURL[k]);
					    	var matchURL = true;
					    }
					}

					if (window.location.pathname.indexOf('/series/') == -1 && ($('.sj-page-detail.sj-page-detail-course').length > 0 || $('.sj-page-curriculum').length > 0)) {
					    if (matchURL == true) {
					    	var str = seriesURL[0].lastIndexOf('/') + 1;

					    	var baseURL = seriesURL[0].substring(0,str);

					    	$('#header-left').prepend('<a href="'+ baseURL + '" class="back-to-catalog animated-button-pair animated-button-pair-stacked header-link"><i class="fa fa-arrow-left" aria-hidden="true"></i><span id="backToCatalogShortText">Back</span></a>');
					    } else {
					    	$('#header-left').prepend('<a href="/" class="back-to-catalog animated-button-pair animated-button-pair-stacked header-link"><i class="fa fa-arrow-left" aria-hidden="true"></i><span id="backToCatalogShortText">Back</span></a>');
					    }
					    
					};
	});










	var checkURL = 
[

"/series/groov-epic-training-series/groov-epic-hardware-1",
"/series/groov-epic-training-series/hardware-module-touchpad-and-health-status-leds",
"/series/groov-epic-training-series/hardware-resetting-to-factory-defaults",
"/series/groov-epic-training-series/maintenance-course",
"/series/groov-epic-training-series/groov-manage-introduction",
"/series/groov-epic-training-series/io-inspecting-groov-io-modules",
"/series/groov-epic-training-series/io-io-unit-configuration-and-tools",
"/series/groov-epic-training-series/control-engine-status-serial-devices-background-downloading",
"/series/groov-epic-training-series/system-networking",
"/series/groov-epic-training-series/system-time",
"/series/groov-epic-training-series/system-display",
"/series/groov-epic-training-series/system-files-coming-soon",
"/series/groov-epic-training-series/system-license",
"/series/groov-epic-training-series/system-shell",
"/series/groov-epic-training-series/system-serial-devices",
"/series/groov-epic-training-series/system-restart",
"/series/groov-epic-training-series/pac-control-introduction",
"/series/groov-epic-training-series/pac-control-building-a-strategy-1",
"/series/groov-epic-training-series/pac-control-debugging",
"/series/groov-epic-training-series/groov-101",
"/series/groov-epic-training-series/node-red-launch-the-editor-view-status-manage-project",
"/series/groov-epic-training-series/intro-to-node-red",
"/series/groov-epic-training-series/node-red-and-groov",
"/series/groov-epic-training-series/ignition-edge-groov-workshops",
"/series/groov-epic-training-series/sparkplug-configure-the-mqtt-broker-edge-node-and-controller",
"/series/groov-epic-training-series/sparkplug-status-view-for-sparkplug-and-the-control-engine",
"/series/groov-epic-training-series/maintenance-backup-restore-update-1",
"/series/groov-epic-training-series/info-and-help-status-and-logs",
"/series/groov-epic-training-series/accounts-managing-user-accounts",
"/series/groov-epic-training-series/current-user-password-and-sign-out",
"/series/groov-epic-training-series/downloading-and-running-custom-programs",

"/series/snap-pac-system-training-series/snap-pac-training-coming-soon",
"/series/snap-pac-system-training-series/pac-control-introduction",
"/series/snap-pac-system-training-series/pac-control-building-a-strategy-1",
"/series/snap-pac-system-training-series/pac-control-debugging",
"/series/snap-pac-system-training-series/automation-101",

"/series/groov-edge-appliance-training-series/groov-view",

"/series/certification/opto-22-certification-courses-coming-soon",
"/series/certification/snap-pac-certification-coming-soon",
"/series/certification/groov-edge-appliance-certification-coming-soon"

];
var seriesURL = [];

for (var i = 0; i < checkURL.length; i++) {
	var url = checkURL[i].match(/([^\/]*)\/*$/)[1]
	var urlparams = window.location.href.match(/([^\/]*)\/*$/)[1]
    if (url == urlparams) {
    	seriesURL.push(checkURL[i]);
    	var matchURL = true;
    }
}

if (window.location.pathname.indexOf('/series/') == -1 && ($('.sj-page-detail.sj-page-detail-course').length > 0 || $('.sj-page-curriculum').length > 0)) {
    if (matchURL == true) {
    	var str = seriesURL[0].lastIndexOf('/') + 1;

    	var baseURL = seriesURL[0].substring(0,str);

    	$('#header-left').prepend('<a href="'+ baseURL + '" class="back-to-catalog animated-button-pair animated-button-pair-stacked header-link"><i class="fa fa-arrow-left" aria-hidden="true"></i><span id="backToCatalogShortText">Back</span></a>');
    } else {
    	$('#header-left').prepend('<a href="/" class="back-to-catalog animated-button-pair animated-button-pair-stacked header-link"><i class="fa fa-arrow-left" aria-hidden="true"></i><span id="backToCatalogShortText">Back</span></a>');
    }
    
};

</script> -->

</body>
</html>