<!DOCTYPE html>
<html lang="en">
<head>
  {% include _meta.html %}
  <title>Austin Perez</title>
  {% include _css.html %}

  <!-- Google Tag Manager-->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PSX2ZHC');</script>

  <!-- Google Analytics Tracking-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112276509-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-112276509-1');
	</script>


</head>

<body data-spy="scroll" data-offset="51">
	<script type="in/Login" >
</script>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSX2ZHC"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center wrap">
				<img src="../assets/images/profile_img.jpg" class="img-responsive img-circle center-block img-profile" alt="Responsive image">
				<h1 class="name text-blue">Austin Perez</h1>
				<div class="container-fluid">
					<address>
						<div class="col-sm-4 contact">
							<span class="address">
								<span class="glyphicon glyphicon-map-marker"></span>
								<span class="locality"> Temecula</span>,
		            <abbr class="region">CA</abbr>
		            <span class="postal-code">92592</span>
							</span>
						</div>
						<div class="col-sm-4 contact">
							<span class="telephone">
								<span class="glyphicon glyphicon-phone"></span>
								<span class="text"> +1.424.291.2313</span>
							</span>
						</div>
						<div class="col-sm-4 contact">
							<a href="mailto:austin@austinp.com">
								<span class="email">
									<span class="glyphicon glyphicon-envelope"></span>
									<span class="text"> austin@austinp.com</span>
								</span>
							</a>
						</div>
					</address>
				</div>
			  <p class="summary">
			    A detail-oriented professional that is obsessed with data, driven by results, and consumed by metrics. I have over 5 years experience and a deep love for software development, product management, digital marketing and analytics.
			  </p>
			  <p class="lead">
			    Experience:
			  </p>
			  <p class="logos">
			  	<a href="https://www.opto22.com" target="_blank">
			  		<span class="icon-opto22"></span>
			  	</a>
			  	&nbsp;
			  	<a href="http://filmhub.com" target="_blank">
			  		<span class="icon-filmhub"></span>
			  	</a> 
			  	&nbsp;
			  	<a href="https://www.nfx.com" target="_blank">
			  		<span class="icon-nfx"></span>
			  	</a>
			  	&nbsp;
			  	<a href="https://kpinsonstairs.com" target="_blank">
			  		<span class="icon-kpinsonstairs"></span>
			  	</a>
			  </p>
			  <div class="container-fluid">
					<div class="col-sm-4 social">
						<span>
							<a class="facebook" href="https://www.fb.com/austin4perezident" target="_blank">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<span class="text"> fb.com/austin4perezident</span>
							</a>
						</span>
					</div>
					<div class="col-sm-4 social">
						<span>
							<a class="linkedin" href="https://www.linkedin.com/in/austin4perezident/" target="_blank">
								<i class="fa fa-linkedin-square" aria-hidden="true"></i>
								<span class="text"> /in/austin4perezident</span>
							</a>
						</span>
					</div>
					<div class="col-sm-4 social">
						<span>
							<a class="github" href="https://github.com/austin4perezident" target="_blank">
								<i class="fa fa-github" aria-hidden="true"></i>
								<span class="text"> austin4perezident</span>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% include _footer.html %}
	</div>
<canvas id="background-image"></canvas>
{% include _js.html %}

</body>
</html>